body, html {
    margin: 0;
    margin: 0;
    font-family:"Open Sans", sans-serif;
    font-size:34px;
    color:#282A37;
    width:100%;
    -webkit-text-size-adjust:120%;
}

/*WRAPPER*/
#wrapper {
    padding:0 1rem;
    margin:2rem auto 0 auto;
    max-width:500px;
}
#wrapper h1 {
    font-size:0.7rem;
    font-weight:700;
    padding:0;
    margin:0 0 1rem 0;
}

/*HEADER*/
#header {
    margin: 0 0 2rem 0;
}
#header h1 {
    font-size:1rem;
    font-weight:300;
    padding:0;
    margin:0;
}
#header h2 {
    font-size:0.7rem;
    font-weight:700;
    padding:0;
    margin:0;
}
#header p {
    font-size:0.45rem;
    margin:0;
    padding:0;
    font-weight:400;
    font-style:italic;
}

/*GENERAL INFORMATION*/
#genInfo {
    margin: 0 0 2rem 0;
}
#genInfo i {
    width:0.6rem;
}
#genInfo p {
    font-size:0.45rem;
    margin:0;
    padding:0;
    font-weight:400;
}
#genInfo .leftC p {
    font-weight:300;
}

/*EMPLOYMENT HISTORY*/
#empHis, #edu, #pers {
    margin: 0 0 2rem 0;
}
#empHis h1, #edu h1, #pers h1 {
    font-size:0.45rem;
    font-weight:700;
    padding:0;
    margin:0;
}
#empHis h2, #edu h2, #pers h2 {
    font-size:0.45rem;
    font-weight:300;
    font-style:italic;
    padding:0;
    margin:0 0 0.1rem 0;
    color:#666666;
}
#empHis h3, #edu h3, #pers h3 {
    font-size:0.45rem;
    font-weight:600;
    padding:0;
    margin:0;
}
#empHis p, #edu p, #pers p {
    font-size:0.45rem;
    margin:0;
    padding:0;
    font-weight:400;
}
#empHis .leftC p, #edu .leftC p, #pers .leftC p {
    font-weight:300; 
}

.mainUL {
    list-style:none;
    padding:0 0 0.5rem 0;
    font-weight:600;
    margin:0 0 0.5rem 0;
    border-bottom:1px solid #ddd;
}
.subUL li {
    font-size:0.4rem;
    font-weight:400;
    margin:0.25rem 0 0.25rem 0.5rem;
}
.subUL {
    padding:0 0 0 0rem;
    list-style:square;
}

#profDev li {
    margin:0.25rem 0 0.25rem 0;
    font-weight:300;
    font-style:italic;
    color:#666666;
}
#profDev li h3 {
    font-style:normal;
    color:#282A37;
}
#headSum, #ceoSum, #irSum, #dgpSum, #bdSum, #gbmSum, #mamSum, #rsmSum, #gradSum, #profDev, #cth, #gu, #welc, #changePref, #disc18, #disc16, #agil, #discovery, #str, #mbti {
    display:none;
    margin:0 0 0.5rem 0;
}
#headApp, #dgpApp, #bdApp, #gbmApp, #mamApp, #rsmApp, #gradApp {
    display:none;
    margin:0 0 0.5rem 0;
}
.subUL .noBull {
    list-style:none;
    margin:0;
    padding:0;
}
.subUL .noBullHead {
    list-style:none;
    font-weight:700;
    padding-top:0.5rem;
    margin:0 0 0.15rem 0;
}
.expand {
    color: #0A84FF;
    font-weight:400;
    font-size:0.4rem;
}
.expand:hover {
    cursor: pointer;
    text-decoration:underline;
}
.fa-pad {
    margin-right:0.15rem;
}
.fas {
    font-size:0.35rem;
}
li.info, #header .info {
    background-color:#FFD609;
    padding:0.5rem;
    list-style:none;
    border-radius:0.15rem;
    font-style:italic;
    font-size:0.4rem;
    margin:0.5rem 0 0.25rem 0;
    /*box-shadow:0px 5px 4px #ccc;*/
}
.exp {
    border-bottom:1px dotted #282A37;
    cursor: help;
}
.exp:hover {
    border-bottom:none;
    background-color:#FFD609;
    /*cursor: help;*/
}

.leftC {
    /*width:92px;*/
    width:3rem;
    text-align:right;
    padding:0 0.3rem 0 0;
    margin:0 0 0 0;
    font-weight:400;
    vertical-align:top;
}
.noInfo {
    padding:0 0 0.5rem 0;
    border-bottom:1px solid #ddd;
}
/*MAIL FORM*/
#mailForm {
    display:none;
}
form {
	margin: 0 0 0 0 ;
	width:340px;
	padding:0;
}
label {
	display:block;
	padding:10px 0;
}
input {
	width:100%;
	background-color:#64D2FF;
	border:1px solid #64D2FF;
	padding:10px;
    border-radius:5px;
    font-size:0.4rem;
}
textarea {
	width:100%;
	background-color:#64D2FF;
	border:1px solid #64D2FF;
	padding:10px;
    border-radius:5px;
    font-size:0.4rem;
}
.mailB {
	padding: 0;
	font: inherit;
	color: #fff;
	background-color: #0A84FF;
	cursor: pointer;
	border-radius: 20px;
	padding:10px 20px 10px 20px;
    border:none;
    font-size:0.4rem;
    font-weight:700;
}
.mailB::hover {
    color:#282A37;
}
::-webkit-input-placeholder { /* Chrome */
	color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
	opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
	color: #fff;
	opacity: 1;
}
/*FILES*/

/*FOOTER*/
body #footer {
    margin:2rem  0 0 0;
    padding:0.5rem;
    background-color:#282A37;
}
#footer p {
    font-size:0.35rem;
    color:#ffffff;
    text-align:center;
}
#footer p a {
    color:#FFCC00;
    text-decoration:none;
}
#footer p a:hover {
    text-decoration:underline;
}