body, html {
    margin-top: 0px;
    margin-left: 0px;
    font-family:"Open Sans", sans-serif;
    font-size:34px;
    color:#282A37;
}
#wrapper {
    margin:50px 75px;
    width:720px;
}
h1 {
    font-size:1rem;
    font-weight:300;
    padding:0;
    margin:0 0 0 109px;
}
h2 {
    font-size:0.7rem;
    font-weight:700;
    padding:0;
    margin:2.1rem 0 2.1rem 109px;
}
p {
    font-size:0.45rem;
    padding:0;
    margin:0;
}
table {
    width:100%;
    padding:0;
    margin:0;
}

table h1 {
    font-size:0.45rem;
    font-weight:700;
    padding:0;
    margin:1rem 0 0 0;
}
table h2 {
    font-size:0.45rem;
    font-weight:400;
    font-style:italic;
    padding:0;
    margin:0 0 0.4rem 0;
    clear:both;
}
table p, table ul  {
    font-size:0.45rem;
    padding:0;
    margin:0;
}
td {
    vertical-align:top;
    padding:0;
    margin:0;
}

tr {
    padding:0;
    margin:0 0 2rem 0;
}
table ul {
    list-style: square;
    margin:0 0 0 0;
    padding:0;
}
table ul li {
    padding-bottom:0.1rem;
}
table td a:hover .app {
    background-color:#777;
    color:#eee;
    text-decoration:underline;
}
table h1 a, .btnApp {
    color:#0A84FF;
    text-decoration:none;
}
table h1 a:hover, .btnApp:hover {
    color:#0A84FF;
    text-decoration:underline;
}
a {
    color:#282A37;
    text-decoration:none;
    border-bottom:1px solid #282A37;
}
a:hover {
    color:#0A84FF;
    border-bottom:1px solid #0A84FF;
}
.leftC {
    width:92px;
    text-align:right;
    font-size:0.45rem;
    padding:1rem 10px 0 0;
    margin:0 0 0 0;
    font-weight:500;
}
#profDev .leftC {
    padding-top:0;
}
b {
    font-weight:700;
}
.noteC {
    width:92px;
    text-align:right;
    font-size:0.45rem;
    padding:0 8px 0 0;
    margin:0;
    vertical-align:middle;
    font-weight:700;
}
.note {
    padding:15px;
    background-color:#64D2FF;
    font-size:0.45rem;
    font-style:italic;
    border-radius:5px;
}
.app {
    background-color:#ddd;
    font-size:0.2rem;
    min-width: 10px;
    float:left;
    padding:4px;
    border-radius:50%;
    text-align: center;
    color:#333;
    font-weight:800;
    margin-left:5px;
}
span {
    border-bottom:1px dotted #282A37;
    cursor: help;
}
span:hover {
    border-bottom:none;
    background-color:#FFD609;
    /*cursor: help;*/
}
#instructions {
    display:none;
    margin-left:110px;
    font-style:italic;
    background-color:#64D2FF;
    padding:15px;
    border-radius:5px;
}
#mailForm {
    display:none;
}
form {
	margin: 0 0 0 107px ;
	width:340px;
	margin-bottom:50px;
	padding:0;
}
label {
	display:block;
	padding:10px 0;
}
input {
	width:100%;
	background-color:#64D2FF;
	border:1px solid #64D2FF;
	padding:10px;
    border-radius:5px;
    font-size:0.5rem;
}
textarea {
	width:100%;
	background-color:#64D2FF;
	border:1px solid #64D2FF;
	padding:10px;
    border-radius:5px;
    font-size:0.5rem;
}
.mailB {
	padding: 0;
	font: inherit;
	color: #fff;
	background-color: #0A84FF;
	cursor: pointer;
	border-radius: 20px;
	padding:10px 20px 10px 20px;
    border:none;
    font-size:0.45rem;
    font-weight:700;
}
.mailB::hover {
    color:#282A37;
}

::-webkit-input-placeholder { /* Chrome */
	color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #fff;
    opacity: 1;
}
  #headApp, #dgpApp, #bdApp, #gbmApp, #mamApp, #rsmApp, #gradApp, #ceoApp {
	display:none;
}
#headSum, #dgpSum, #bdSum, #gbmSum, #mamSum, #rsmSum, #gradSum, #ceoSum {
	display:block;
}
.bhead, p .bhead {
	font-weight:700;
	list-style:none;
	margin:15px 0 0 0;
}
.btnApp {
	border:none;
	font-size:0.45rem;
	background-color:#fff;
	padding:0;
	margin:0;
    font-weight:700;
    cursor: pointer;
}
#profDev, #cth, #gu {
	display:none;
}
#instructions {
	font-size:0.45rem;
}
#instructions li {
	list-style:square;
}
#profDev b {
	font-weight:700;
}
#profDev p {
    margin-bottom:8px;
}
#gloss {
    display:none;
    margin-bottom:50px;
}
#gloss .leftC {
    padding:0 9px 0 0;
    font-weight:600;
}